# General
*.txt
*.tmp
*.temp
.claude
CLAUDE.md
*.swp
.vscode
.DS_Store
.env
architecture.html

# Frontend
src/frontend/node_modules

# Backend, name of executable might change in future
src/backend/backend
