POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name
DATABASE_URL=postgres://your_username:your_password@postgres:5432/your_database_name
JWT_SECRET=jwt_key
CLOUDINARY_SECRET=cloudinary_secret
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_KEY=cloudinary_key

